@{
    ViewData["Title"] = "Error";
}

<h1 class="font-weight-bold text-center errorpage">Input Error</h1>
<h4>Possible Issues:</h4>
<ul>
    <li>Bad spacing in input</li>
    <li>Input is incorrectly cut off</li>
    <li>Input was not copied correctly from the in-game tool</li>
    <li>Empty Input</li>
</ul>
<a href="/moon"><button type="button" class="btn btn-dark">Try Again</button></a>