@{
    ViewData["Title"] = "How To";
}

<h2 class="font-weight-bold">How To Scan a Moon and Use this Tool:</h2>
<p class="small font-weight-light">Basic EVE Online knowledge required</p>

<div>
    <h4>1. Get and Fit a Suitable Scanning Ship</h4>
    <img class="mx-auto d-block" src="~/images/heronfit.png" alt="Basic Heron Fit">
    <p class="mt-3">Tech 1 or Tech 2 frigates are ideal for moon scanning because of their faster align and warp speeds. 
        The only required module is a Survey Probe Scanner. You will also need a survey probe for each moon you will want to scan.
        There are three types of survey probes that vary in flight time needed to finish a moon scan.
        Discovery Quest Probes are optimal if you do not have maxed Astrometrics and Survey skills 
        (Gaze Survey Probes have the shortest flight time, but require the most skills to use).</p>
    <p>The above image shows a cheap Heron fit used for scanning moons. The Survey Probe Launcher and Discovery Probes are highlighed to show what is needed.
        Additional mods include Hyperspatial Velocity Optimizer I rigs to increase warp speed, a 5mn Microwarp Drive, and 2 Inertial Stabalizer II to decrease align time.</p>
</div>
<div>
    <h4>2. Find a Moon</h4>
    <img class="mx-auto d-block" src="~/images/findamoon.png" alt="Find a Moon">
    <p class="mt-3">Moons can only be mined in 0.5 Security Systems or below. Lower tier moons will be found in high and low sec compared to null security space. 
        Wormhole moons are the equivalent to high sec moons in what can be found. A system can have anywhere from 0 to several dozen moons.
        When you are in an eligble system right click in space and navigate the nested windows as seen above. Moons can be found under planets.
        Warping to the Mining Point at 0 is usually the closest distance to the moon you are warping to.</p>
</div>
<div>
    <h4>3. Align and Launch Probes</h4>
    <p class="mt-3">Once you have landed close to the moon aim your ship directly at the moon. When your ship is angled properly launch a survey probe. 
        Doing this should open your Moon Probe and Analysis menu. If it does not open you can find it under your Scanners menu.</p>
</div>
<div>
    <h4>4. Wait for Results and Copy</h4>
    <img class="mx-auto d-block" src="~/images/moonscan.PNG" alt="Moon Menu">
    <p class="mt-3">Once the probes are in flight you will see a timer on your Moon Probe Scanner. When the timer is finished you will see a folder appear with the planet and moon name.
        Opening the folder will display the ore product and quantity of each ore. After you finish scanning all moons you can hit the <u>Copy to Clipboard</u> button.
        Clicking this will copy every moon result that you have scanned. Once you have your results you can paste the entire text into the input box and hit Submit.
        Submitting the scan will record each individual ore and it's unrefined/refined price, along with the total value at the bottom.
    </p>
</div>
<a href="/moon"><button type="button" class="btn btn-info">Return to Main Menu</button></a>