@{
    ViewData["Title"] = "Moon Value Calculator";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <h1 >Moon Value Calculator:</h1>
    <form method="POST" action="moon/submit">
        <div class="form-group">
            <label for="Comment"></label>
            <textarea class="form-control" name="raw_input" rows="4"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<div class="mt-5">
    <div>
        <h3 class="font-weight-bold">About:</h3>
        <p>Tool designed to calculate the approximate value of a moon in the MMO game Eve Online. 
            Moons can have structures anchored in their orbit that blast a chunk of the moon and then tractor it over a set period of time. 
            When the chunk finishes it's extraction cycle it will be fracked, blowing up the chunk and launching mineable ore in the vicinity.
            Cycles can be set from 1-4 weeks, with longer pulls resulting in more ore to mine (Roughly 20,000 m<sup>3</sup> per hour). 
            This calculator currently assumes a month long extraction. Values are displayed as both raw ore as well as the refined value.</p>
    </div>
    <div>
        <h3 class="font-weight-bold">General Information:</h3>
        <ul>
            <li>Input <b>must</b> be copied using the in-game tool (Incorrect spacing will cause errors)</li>
            <li>An 85% refining rate is used to calculate refined values</li>
            <li>This tool currently accepts multiple moons as input at the same time</li>
            <li>Improper inputs will be redirected to an error page</li>
            <li><a href="Moon/how-to">Click here</a> for step by step instructions on how to scan moons in EVE Online</li>
        </ul>
    </div>
    <div>
        <h3 class="font-weight-bold">Sample Input</h3>
        <p>Test this tool with the provided sample moons below. Copy the entire text document into the input above.</p>
        <a class="lead" href="~/downloadables/boillairmoons.txt" download="SampleMoon">Download Sample</a>
    </div>

</div>

