@{
    ViewData["Title"] = "Moon Value Calculator";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <form method="POST" action="submit">
        <div class="form-group">
            <label for="Comment"></label>
            <textarea class="form-control" name="raw_input" rows="4"></textarea>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
